@import 'colours';
@import 'header';


#hero {

	height: 550px;
	width: 100%;
	background:url('images/hero.jpg') #f0f0f0;

		h1{
			display: flex;
			justify-content: flex-end;
			color: white;
		}

}

.content{

	height: 1000px;
}

footer {
	height: 300px;
	background: #f0f0f0;
	width: 100%
}